<app-modal modalID="editClipModal">
    <!-- Edit Modal -->
    <p class="text-2xl font-bold">Edit Video</p>

    <!-- Form -->
    <form [formGroup]="editForm" (ngSubmit)="editClip()" >
      <!-- Title -->
      <div class="mt-4">
        <label class="block text-xl mb-4">Title</label>
        <app-input [control]="title" placeholder="Enter your Title"></app-input>
      </div>

      <div class="mt-4 text-right">
        <button type="submit" class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition" [disabled]="editForm.invalid || editForm" [ngClass]="{'hover:bg-indigo-500':editForm.valid && !inSubmission , 'opacity-50 cursor-not-allowed':editForm.invalid || inSubmission}">
            Update
          </button>
      </div>
    </form>
</app-modal>
