 <!-- Main Content -->
 <section class="container mx-auto my-8 bg-secondary p-6">
  <div class="rounded relative flex flex-col">
    <div class="font-bold mb-6">Upload Video</div>

    <!-- Upload Dropbox -->
    <div
    *ngIf="!nextStep ; else uploadFormCtl"
      app-event-blocker
      (dragenter)="isDragOver=true"
      (dragover)="isDragOver=true"
      (dragend)="isDragOver=false"
      (dragleave)="isDragOver=false"
      (mouseleave)="isDragOver=false"
      (drop)="storeFile($event)"
      [ngClass]="{'text-white bg-indigo-400 border-indigo-400 border-solid' : isDragOver}"
      class="w-full
      px-10 py-40 rounded text-center cursor-pointer border border-dashed
        border-gray-400 transition duration-500 hover:text-white
        hover:bg-indigo-400 hover:border-indigo-400 hover:border-solid text-xl">
      <h5>Drop your file here (mp4 only!)</h5>
    </div>
    <!-- Video Editor -->
    <ng-template #uploadFormCtl>
      <!-- Form -->
      <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()" >
        <!-- Screenshots -->
        <h2 class="mb-4 text-xl">Select a Thumbnail</h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
          <div class="border-8 cursor-pointer border-green-400">
            <img src="assets/img/1.jpg">
          </div>
          <div class="border-8 cursor-pointer border-transparent">
            <img src="assets/img/2.jpg">
          </div>
          <div class="border-8 cursor-pointer border-transparent">
            <img src="assets/img/3.jpg">
          </div>
        </div>

        <!-- Title -->
        <div class="mt-4">
          <label class="block text-xl mb-4">Title</label>
          <app-input [control]="title" placeholder="Enter your Title"></app-input>
        </div>

        <div class="mt-4 text-right">
          <button type="submit" class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition" [disabled]="uploadForm.invalid || inSubmission" [ngClass]="{'hover:bg-indigo-500':uploadForm.valid && !inSubmission , 'opacity-50 cursor-not-allowed':uploadForm.invalid || inSubmission}">
            Publish
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</section>
