<input [type]="type" [formControl]="control" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [class.border-red-500]="control.invalid && (control.dirty || control.touched)" [placeholder]="placeholder" [mask]="format"/>
<div *ngIf="control.invalid && (control.dirty || control.touched)" class="text-red-500">
  <div *ngIf="control.errors?.['required']">
    Field is required.
  </div>
  <div *ngIf="control.errors?.['email']">
    You must enter a valid email
  </div>
  <div *ngIf="control.errors?.['minlength']">
    Field must be at least {{control.errors?.['minlength'].requiredLength}} characters long.
  </div>
  <div *ngIf="control.errors?.['min']">
    Value to low
  </div>
  <div *ngIf="control.errors?.['max']">
    Value to high
  </div>
  <div *ngIf="control.errors?.['noMatch']">
    Passwords de not match.
  </div>
  <div *ngIf="control.errors?.['pattern']">
    Password must be at least 8 characters long,have 1 uppercase letter, 1 lowercase letter, and 1 number.
  </div>
  <div *ngIf="control.errors?.['emailTaken']">
    This email is already taken.
  </div>
</div>
