  <!-- Top Bar -->
  <section class="container mx-auto my-8 bg-secondary p-6">
    <div class="rounded relative flex justify-between">
      <a routerLink="/upload" class="bg-indigo-400 text-white py-4 px-10 text-xl">Upload Videos</a>

      <!-- Sort Videos -->
      <select class="text-black px-8 text-xl outline-none appearance-none" (change)="sortChange()" [(ngModel)]="videoOrder">
        <option [ngValue]="'1'">Recent Uploads</option>
        <option [ngValue]="'2'">Oldest Uploads</option>
      </select>
    </div>
  </section>

  <!-- User's Video Section -->
  <div class="container mx-auto my-8">
    <!-- Video List -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl bg-secondary flex flex-col justify-start" *ngFor="let clip of listClips">

        <!-- Image -->
        <a routerLink="/clip/{{clip.docID}}">
          <img class="card-img-top rounded-tl-2xl w-full" [src]="clip.screenShotUrl" crossorigin>
        </a>

        <!-- Body -->
        <div class="p-6 text-2xl">

          <!-- Link -->
          <a routerLink="/clip/{{clip.uid}}" class="font-bold mb-2">
            {{clip.title}}
          </a>
          <a class="bg-gray-400 text-white px-2 py-1 ml-2 text-sm rounded" ngxClipboard [cbContent]="'/clip/'+clip.docID" app-event-blocker>
            Copy Link
          </a>

        </div>

        <!-- Actions -->
        <div class="flex text-center text-2xl bg-gray-800 p-2 mt-auto">
          <a app-event-blocker (click)="editClip(clip)" class="flex-1 p-2 border-right border-r-2 border-gray-700 transition hover:text-indigo-400">
            <span class="material-icons text-base">build</span>
          </a>
          <a app-event-blocker (click)="deleteClip(clip)" class="flex-1 p-2 rounded-br-2xl transition hover:text-indigo-400">
            <span class="material-icons text-base">delete</span>
          </a>
        </div>

      </div>
    </div>
  </div>
<app-edit-video [activeCLip]="activeClip" (clipUpdate)="upldateListClip()"></app-edit-video>
