<!-- Login Form -->
<form #loginForm="ngForm">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input
      #email="ngModel"
      name="email"
      [(ngModel)]="credantials.email"
      type="email"
      placeholder="Enter Email"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      [class.border-red-500]="email.invalid && (email.dirty || email.touched)"
    />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-400">
      <div *ngIf="email.errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="email.errors?.['pattern']">
        You must enter a valid email
      </div>
    </div>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input
      #password="ngModel"
      name="password"
      [(ngModel)]="credantials.password"
      type="password"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      [class.border-red-500]="password.invalid && (password.dirty || password.touched)"
      placeholder="Password"
      required
    />
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red-400">
      <div *ngIf="password.errors?.['required']">
        Password is required.
      </div>
    </div>
  </div>
  <button
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
  >
    Submit
  </button>
</form>
